.main-app{
    width:100vw;
    display:grid;
    grid-template-columns: 260px minmax(0,1fr);
    height: 100vh;

    .main-header{

    }

    .side-panel{
        
    }
    .main-panel{
        justify-items:center;
        overflow:scroll;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 48px;

    }
    
}