.main-app{
    width:100vw;
    display:grid;
    grid-template-columns: 260px minmax(0,1fr);
    height: 100vh;
    

    .main-header{

    }

    .side-panel{
        
    }
    .main-content{
        overflow-y: scroll;
        .main-header{
            position:sticky;
            top:0;
            background-color: white;
        }
        .main-panel{
            justify-items:center;
            overflow-y: scroll;
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 48px;

        }
}
    
}