.main-app{
    width:100vw;
    display:grid;
    grid-template-columns: 260px minmax(0,1fr);
    height: 100vh;

    .main-header{

    }

    .side-panel{
        background-color: blue;
    }
    .main-panel{
        background-color: yellow;
    }
    .footer{
        background-color: red;
    }
}